<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Constructor Dependency Injection for Employee -->
    <bean id="employee" class="com.klu.jfsd.exam.Employee">
        <constructor-arg value="101" />
        <constructor-arg value="John Doe" />
        <constructor-arg value="75000.50" />
        <constructor-arg value="IT" />
        <constructor-arg>
            <list>
                <value>Java</value>
                <value>Spring</value>
                <value>SQL</value>
            </list>
        </constructor-arg>
    </bean>

    <!-- Bean for Instructor -->
    <bean id="instructor" class="com.klu.jfsd.exam.Instructor">
        <property name="instructorId" value="201" />
        <property name="name" value="Dr. Smith" />
        <property name="email" value="dr.smith@example.com" />
        <property name="phoneNumber" value="1234567890" />
    </bean>

    <!-- Setter Dependency Injection for Course -->
    <bean id="course" class="com.klu.jfsd.exam.Course" autowire="byName">
        <property name="courseId" value="301" />
        <property name="courseName" value="Data Structures" />
        <property name="credits" value="4" />
    </bean>
</beans>
